A, BODY, FORM, H1, H2, H3, LI, P, PRE, SPAN {
  margin: 0px;
  padding: 0px;
}
BODY {
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

INPUT, SELECT {
  font-size: 12px;
}

PRE {
  font-size: 12px;
  margin-top: 5px;
}

#body {
  background: white;
  border-left: 2px solid #aaaaaa;
  border-right: 2px solid #aaaaaa;
  width: 700px;
  margin: 0 auto;
  padding: 15px;
}

#head {
  background: transparent url("images/logo.gif") no-repeat left center;
  background-position: 70px 3px;
  text-align: left;
  padding: 0px 0 0 170px;
  height: 70px;
}
#head H1 {
  color: #444444;
  font-size: 24px;
}
#head H2 {
  color: #888888;
  font-size: 18px;
}

#menu {
  background-color: #666666;
  font-size: 12px;
      text-align: right;
}
#menu A {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px 0 10px;
}
#menu A:hover {
  background-color: white;
  color: #666666;
}

#content {
  min-height: 250px;
  text-align: left;
}
#content .ajax {
  color: #dd2222;
  font-size: 22px;
  font-weight: bold;
}

#foot {
  color: #aaaaaa;
  font-size: 10px;
}

.section {
  border-bottom: 1px solid #dddddd;
  color: #444444;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.ar {
  color: #444444;
  font-size: 14px;
  margin-top: 10px;
      padding-left: 25px;
}
.footer {
  color: #444444;
  font-size: 12px;
  margin-top: 10px;
}
.section A {
  color: #664444;
}
.section A:hover {
  color: #aa2222;
  text-decoration: none;
}
.section CODE {
  color: black;
  background-color: #f2ebdc;
  font-size: 12px;
}
.section H1 {
  font-size: 20px;
  margin: 0 0 0 20px;
}
.section H2 {
  font-size: 16px;
  margin-top: 10px;
}
.section LI {
  margin: 0 0 0 20px;
}
.section PRE {
  color: black;
  background-color: #f2ebdc;
  font-size: 12px;
  margin: 5px 0 10px 0;
  border-left: 1px solid #aaa499;
  margin-left: 10px;
  padding-left: 10px;
  width: 500px;
}

.section2 {
  border-left: 4px solid #dddddd;
  text-align: left;
  margin: 20px 0 0 20px;
  padding-left: 5px;
}
.dlinfo {
  font-size: 10px;
}
.date {
  font-size: 12px;
}

img {
  border: 0;
}

.cudatext {
  color: #40ff60 !important;
}

.donate {
  color: #f0f080 !important;
}

.current {
  text-decoration: underline !important;
}