@media (min-width: 320px) and (max-width: 991px) {
    body {
        padding: 15px;
        margin: 0;
    }

    body,
    .head,
    .menu,
    .content,
    .slide,
    .textbox,
    .foot {
        width: 100%;
        box-sizing: border-box;
    }

    .menu ul {
        padding-left: 0;
    }

    .menu li {
        display: block !important;
        text-align: center;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    .menu li a {
        margin-left: 0 !important;
    }

    .sitename {
        text-align: center;
    }

    .sitename h2 {
        float: none;
    }

    .textbox,
    .foot {
        margin-top: 15px;
    }
}
